<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
    <div class="hero">
        Discover a new experience
    </div>
    <main class="mainHome">
        <div class="infoHome">
            <div class="infoBox">
                Find the perfect gift for that special person
            </div>
            <div class="infoBox">
                Lots of different options to choose from
            </div>
            <div class="infoBox">
                Keep track of the experiences you like in 'Favs'
            </div>
        </div>
        <div class="cards">
          <% if (experiences.length === 0) { %>
            <h3>We don't have any experiences yet!</h3>
            <% } else { %>
                <% experiences.forEach(experience => { %>
                    <% let heart = experience.likes.includes(userId) ? "/assets/heartFull.svg" : "/assets/heart.svg" %>
                    <div class="present">
                        <div class="presentPicture" style="background-image: url(<%=experience.url%>);" >
                        </div>
                        <div class="info">
                            <h4><%= experience.title %></h4>
                            <% if(loggedIn) { %>
                                <a href="/like?idUser=<%= userId %>&experienceId=<%= experience._id %>">
                                    <img src=<%= heart %> alt="heart" />
                                </a>
                            <% } else { %>
                                <img src="/assets/heart.svg" alt="heart" />
                            <% } %>
                        </div>
                        <p><%= experience.description %></p>
                        <div class="presentFooter">

                            <p class="price"><%= experience.price %></p>
                            <% if (loggedIn && admin) { %>
                                <div class="actions">
                                    <a href="/deleteExperience/<%= experience._id %>"><img src="/assets/trash.svg" alt="delete" /></a>
                                    <a href="/editExperience/<%= experience._id %>"><img src="/assets/pencil.svg" alt="edit"></a>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
                <% } %> 
            </div>
            <% if (loggedIn && admin) { %>
                <button class="newExperience">
                    <a href="/newExperience"> 
                        Add experience
                    </a>
                </button>
            <% } %>
    </main>
<%- include("partials/footer.ejs") %>